body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.resultado {
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

input {
    height: 2rem;
    width: 17rem;
}